@import "./reset.less";

.index-page {
  padding: 10px;
  font-size: 12px;

  .category_name {
    font-weight: 600;
    color: #1d1d1f;
    padding-top: 15px;
    padding-bottom: 5px;
  }

  .bookmark-name {
    color: #515154;
  }
}
